@font-face {
    font-family: 'Agbalumo';
    src: url('fonts/agbalumo/Agbalumo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DancingScript';
    src: url('fonts/dancingScript/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}





/* Modifier le style du body */
body {
  background-color: #5E0B15;
}

/* Modifier le navbar */
.navbar-custom {
    background-color: #1C5D99;
    font-family: 'Agbalumo';
    font-size: 1.5em;
    color: #070338;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}


/* Modifier le style de sections */
.sections {
    background-color: #639FAB;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 85%;
    margin: 10px auto;
    font-family: cursive ;
    font-size: 1.5em;
}

/* Modifier le style de card */
.card {
    background-color: #BBCDE5;
    border: 1px solid #1C5D99;
    border-radius: 20px;
    width: 100%;
    margin: 10px auto;
}

.card-title {
    font-family: 'Agbalumo';
    font-size: 1.5em;
    color: #070338;
}

/* Modifier #signature */
#signature {
    font-family: 'DancingScript';
    font-size: 2em;
    color: #1C5D99;
}

/* Modifier footer-custom */


.footer-custom {
    background-color: #BBCDE5;
    font-family: 'Agbalumo';
    font-size: 1.5em;
    color: #070338;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

/* Modifier le style des horaires */
.opening-hours table {
    margin: 0 auto;
    width: 80%;
}

.opening-hours th,
.opening-hours td {
    text-align: left;
    padding: 8px;
}

.opening-hours th {
    background-color: #4CAF50;
    color: white;
}

.opening-hours td {
    background-color: #e2e2e2;
}


/* Les h1, h2, h3, h4, h5, h6 */

h1 {
    font-family: 'Agbalumo';
    font-size: 3em;
    color: #070338;
}

h2 {
    font-family: 'Agbalumo';
    font-size: 2em;
    color: #070338;
}

h4 {
    font-family: 'Agbalumo';
    font-size: 1.3em;
    color: #070338;
}